{% extends 'dating/base.html' %}
{% block content %}
<script>
    function pass_user(param1){
        $("#delete" + param1).fadeOut("normal"); 
        console.log("success"); // another sanity check
    }


    function like_user(param1){
    console.log("running");
    $.ajax({
        url : "/dashboard/like", // the endpoint
        type : "GET", // http method
        data : {param_first : param1}, // data sent with the get request

        // handle a successful response
        success : function(json) {
            $("#delete" + param1).fadeOut("normal"); 
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });


};
</script>

<!-- <h1>this is dash board for {{user.email}} </h1> -->
{% if recommendations %}
    <h2>The users you have matched with: </h2>
    {% for user in recommendations %}

    <div class="card-pending">
      <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ user.userprofile.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8" id="delete{{ user.id }}">
            <div class="card-body mySlides" id="delete{{ user.id }}">
              <h2 class="card-title">{{user.userprofile.first_name}} {{user.userprofile.last_name}}</h2>
              <p class="card-text"> {{user.userprofile.bio}}</p>
              <p class="card-text"><small class="text-body-secondary">AGE : {{user.date_of_birth}} </small></p>
              <p class="card-text"><small class="text-body-secondary">GENDER : {{user.userprofile.gender}}</small></p> <br>
              <p class="card-text"><small class="text-body-secondary">You have matched on the basis of :</small></p>
            </div>
              <button type="button" class="btn btn-light" style="margin-top: 3%; background-color: #b65ba8;" id="{{ user.id }}" onclick="like_user({{ user.id }})">Like</button>
              <button type="button" class="btn btn-light" style="margin-top: 3%; margin-left: 10%; background-color: #727ac5" id="{{ user.id }}" onclick="pass_user({{ user.id }})">Pass</button>
            </div>
            
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
        </div>
        <form action="{% url 'dating-dashboard' %}">
            <button class="btn btn-large btn-large btn-primary" type="submit">Done</button>
        </form>
      </div>
      
    </div>
    
    {% endfor %}
        
    
    <script>
    // slideshow of the pending requests card
let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
//   let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
//   for (i = 0; i < dots.length; i++) {
//     dots[i].className = dots[i].className.replace(" active", "");
//   }
  slides[slideIndex-1].style.display = "block";
//   dots[slideIndex-1].className += " active";
} 
</script>
{% else %}

<!-- <h1>this is dash board for {{user.email}} </h1> -->
<div>
    
    <div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{user.userprofile.image.url}}" alt="avatar"
              class="img-fluid" style="width: 200px;">
            <h5 class="my-3">{{user.userprofile.first_name}} {{user.userprofile.last_name}}</h5>
            <p class="text-muted mb-1">{{user.userprofile.bio}}</p>
            
            <button type="button" class="btn btn-light edit-profile-btn" style=" background-color: #b65ba8;">Edit Your Profile</button>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <p>Music</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <p>Anime</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <p>Movies</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <p>Books</p>
                </li>
                
              </ul>
              
            </div>
          </div>
        </div>
    
    <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6" style="margin-top: 2%;">
            <div class="card mb-4 mb-md-0">
                <a href="#">
              <div class="card-body " >
                <h1 style="padding: 20%;">MATCHES {{ user.userprofile.matches.count }}</h1>
                
              </div>
            </a>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 2%;">
            <div class="card mb-4 mb-md-0" >
                <a href="#">
              <div class="card-body">
                <h1 style="padding: 20%;">PENDING {{ user.userprofile.matches.count }}</h1>
            </div>
        </a>
          </div>
        </div>
      </div>
    </div>
    <div>
            {% csrf_token %}
            <div class="form-field form" id="dropdown" style="margin: 20px;">
            <form action="" class="mt-5 me-5">
            {{ form }}
           <button class="btn btn-light matching-btn mx-5" type="submit" style="margin-top: 3%; background-color: #b65ba8;">Start Matching</button>
           </form>
            </div>
          
    </div>
  </div>

</div>

{% endif %}

{% endblock %}