{% extends 'dating/base.html' %}
{% block content %}
<div class="home-page-bg">
    <div class="home-content">
        <h1 class="big-heading">destin</h1>
        <p style = "text-align: center; font-size: x-large; color: rgb(92, 44, 136); ">
           <strong> Destin is an innovative dating application that helps users find their
            perfect match based on specific interests like music, movies, books, animes,
             and games. The app utilizes the APIs of popular platforms such as
            Spotify, GoodReads, MyAnimeList and Letterbox to gather information about
             users' preferences in these areas.</strong>
        </p>
        <div class="home_btn_box ">
            <a class="home-btn-box-flex-items" href="{% url  'login' %}"> <button class="btn btn-primary ">Login</button></a>
            <a class="home-btn-box-flex-items" href="{% url  'register' %}"> <button class="btn btn-primary ">SignUp</button></a>
        </div>
    </div>
</div> 
{% endblock %}